---
import Layout from '../layouts/BaseLayout.astro';
import { Image } from '@astrojs/image/components';
---
<Layout>
    <h1>Beispielbild</h1>
    <Image src="/images/example.jpg" alt="Beispielbild" width={300} height={200} />
</Layout>
