---
import { Picture } from 'astro:assets';
import Layout from '@/layouts/BaseLayout.astro';
import Greeting from '@/components/Greeting.astro';
import myImage from 'public/images/img01.jpg';

---
<Layout>
	<Picture src={myImage} formats={['webp']} alt="Example Image" />
	<h1>Welcome to Astro V5 Template</h1>
	<Greeting name="Astro User" />
	<p>This is a demo project showcasing the features of Astro.js version 5.x.</p>
</Layout>
